.view-blog {
  display: grid;
  
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.create-blog {
  background-color: #7D1935;
  border: 0.2em solid white;
  border-radius: 0.8em;
  color: white;
  cursor: pointer;
  height: 3em;
  margin:2em;
  width: 15em;
}
