.container-popup {
  align-items: center;
  background: rgba(32,35,41,.5);
  bottom: -10px;
  color: white;
  display: flex;
  justify-content: center;
  left: -10px;
  position: fixed;
  right: -10px;
  top: -10px;
}
.container-extern {
  background-color: #7D1935;
}
.title-note{
  color:#7D1935;
  font-size: 1.5em;
  font-weight: bold;
}
.popup-blog {
  align-items: center;
  width: 25em;
  height: 25em;
  background-color: #ffE3D8;
  border: 0.5em solid #7D1935;
  display: flex;
  flex-direction: column;
}

.blog-message {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  width: 23em;
  height: 7em;
  border:0.1em solid #7D1935;
  padding-left: 0.3em;
}
.title-blog {
  font-size: 1em;
  width: 23em;
  height: 2em;
  margin: 1.5em 0 1em 0;
  border: 0.1em solid #7D1935;
  padding-left: 0.3em;
}

.btn-close-popup {
  background-color: #7D1935 ;
  box-shadow: 0px 5px 25px rgba(55, 59, 59, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 1.5em;
  margin-top: 1em;
  margin-left: 16em;
  transform: rotate(0);
  transition: .3s ease;
}
.btn-close-popup:hover {
  transform: rotate(224deg);
}

.btn-save-blog {
  background-color: #7D1935;
  border: 0.2em solid white;
  border-radius: 0.8em;
  color: white;
  cursor: pointer;
  height: 3em;
  margin: 0.5em;
  width: 16em;
}