.modalDelete {
  align-items: center;
  background: rgba(32,35,41,.5);
  bottom: -10px;
  color: white;
  display: flex;
  justify-content: center;
  left: -10px;
  position: fixed;
  right: -10px;
  top: -10px;
}
.popupDelete {
  align-items: center;
  width: 15em;
  height: 15em;
  background-color: #ffE3D8;
  border: 0.5em solid #7D1935;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleDelete {
  font-weight: bold;
}
.btnsDelete {
  display: flex;
  flex-direction: row;
}
.btnDelete,  .btnNoDelete {
  background-color: #7D1935;
  border: 0.2em solid white;
  border-radius: 0.8em;
  color: white;
  cursor: pointer;
  height: 3em;
  margin: 0.5em;
  width: 8em;
}