.navbar {
  align-items: center;
  background-color: #7D1935;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}
.navbar a:hover {
  background-color: black;
  color: bisque;
}
.logo {
  height: 3em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  width: 3em;
}
.logoTitle {
  display: flex;
  flex-direction: row;
  
}
.titleApp {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.btnLogout {
  text-decoration: none;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #7D1935;
  border: 0;
}
.name {
  color: white;
}
.iconLogoutC {
  height: 1.7em;
}