.sectionSlogan {
  align-items: center;
  color: #7D1935;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.createBlog {
  background-color: #7D1935;
  border: 0.2em solid white;
  border-radius: 0.8em;
  color: white;
  cursor: pointer;
  height: 3em;
  width: 15em;
}
.imgPrincipal {
  margin-top: 2em;
  height: 80%;
  width: 80%;
}

/* @media (min-width: 320px) {
  .img-principal {
    width: 15em;
    height: 15em;
  }
} */